* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: black;
    color: #00ff9c;
}

/* VIDEO BACKGROUND */
#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: none;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #00ff9c;
}

.nav-links.open {
    display: flex;
    flex-direction: column;
}

.menu-toggle {
    margin-top: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #00ff9c;
}

/* HERO CONTENT */
.hero-content {
    text-align: center;
    margin-top: 240px;
}

/* SECTIONS */
section {
    padding: 60px 10%;
    text-align: center;
}

/* MODES */
.skills-row {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

/* PLAYER GRID */
#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* PLAYER CARD */
.project-card {
    background: #111;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00ff9c;
}

.project-card img {
    width: 100%;
    border-radius: 6px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #00ff9c;
    font-weight: bold;
}


footer a {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    border: 1px solid #00ff9c;
    border-radius: 6px;
    text-decoration: none;
    color: #00ff9c;
    transition: 0.3s;
}

footer a:hover {
    background: #00ff9c;
    color: black;
}


/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
    }

    .menu-toggle {
        display: none;
    }
}
